/* home */




/* Font Family */
/* ABeeZee */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
/* great vibes*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* Cinzel Decorative */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
/* Courgette */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* Uncial Antiqua */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

/* All*/
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-image: linear-gradient(white,rgb(255, 215, 222),rgb(253, 223, 228),white);
    background-repeat: no-repeat;
    
}
/* body::-webkit-scrollbar {
    display: none;
  } */

/* nav bar */
#nav{
    background-color: pink;
    height: 10%;
}

footer{
    background-color: white;
}

/* Home */

#bestSellers{
    width: 263px;
    height: 205px;
    border-radius: 20px;
    object-fit: contain;
}

#homeWall{
    margin-top:4%;
}

.bi{
    max-width:5%;
}

#i {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
  }
  
  #i i {
    flex: 1;
    text-align: center;
  }

.row{
    text-align: center;
}

#best-sellers-image{
    object-fit: contain;
}

#best-sellers-Div{
    background-color: rgb(255, 167, 196);
    margin: 10px;
}

 #best-sellers-container{
    background-image: url(/images/Other/Desktop\ -\ 4.png);
    background-repeat: no-repeat;
}

#img{
    object-fit: contain;
    border-radius: 15px;
}

.card{
    background-color: pink;
}

#banner-container{
    padding-top: 0%;
    padding: 2%;
    border-radius: 20px;
}

/* #banner-row{
    br
} */


/* other */
#img2{
    object-fit: contain;
    max-width: 100%;
    height: 40%;
    
}
.col{
    background-size: contain;
}

.card_footer {
    background-color: transparent;
  }

h2{
    font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  color: pink;
}

h1{
    font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  color: pink;
}

h5{
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

#carousel-inner{
    background-color: rgba(217, 191, 95, 0.328);
}






/* about */



html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-image: linear-gradient(white,rgb(255, 215, 222),rgb(253, 223, 228),white);
    background-repeat: no-repeat;
    
}
/* body::-webkit-scrollbar {
    display: none;
  } */

/* nav bar */
#nav{
    background-color: pink;
    height: 10%;
}

footer{
    background-color: white;
}


.bi{
    max-width:5%;
}

#i {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
  }
  
  #i i {
    flex: 1;
    text-align: center;
  }

.row{
    text-align: center;
}
#about-row-1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#about{
    background-image: url('https://chany4.github.io/ecomWEB/images/other/pexels-eberhardgross-2217366.jpg');
}

/* #img1{
    width: 50px;
    height: 50px
}
#img2{
    width: 50px;
    height: 50px
} */

#about-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #img-2 {
    width: 20%;
  }

  #img-2 img {
    width: 100%;
    height: auto;
  }

  #about-us {
    width: 30%;
    text-align: center;

  }

  #about-us h1 {
    margin: 20px 0;

  }

/* make a media query to make about us bigger */

#log-in-button{
    width: 152px;
    height: 44px;
    background-color: rgb(255, 226, 226);
    border-radius: 25px;
    border: 2px solid pink;
    position: fixed;
    top: 10%; 
    right: 0;
    margin: 10px;
    z-index: 1;
}

.p1 .p3{
    text-align: right;
    font-size: larger;
}
a{
    text-decoration: none;
}



/* contact */




/* Font Family */
/* ABeeZee */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
/* great vibes*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* Cinzel Decorative */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
/* Courgette */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* Uncial Antiqua */
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

/* All*/
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-image: linear-gradient(white,rgb(255, 215, 222),rgb(253, 223, 228),white);
    background-repeat: no-repeat;
    
}
/* body::-webkit-scrollbar {
    display: none;
  } */

/* nav bar */
#nav{
    background-color: pink;
    height: 10%;
}

footer{
    background-color: white;
}


.bi{
    max-width:5%;
}

#i {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: white;
  }
  
  #i i {
    flex: 1;
    text-align: center;
  }

.row{
    text-align: center;
}

#contact-section{
    margin-top: 10%;
}


/* other */

input{
    width: 100%;
    background-color: pink;
    border: 2px solid rgba(255, 192, 203, 0.673);
    height: 100%;
    border-radius: 25px;
    text-indent: 25px;
}
label{
    width: 100%;
    text-indent: 5px;
}
#p{
    text-align: start;
    text-indent: 15px;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

textarea{
    background-color: pink;
    border: 3px solid pink;
}



/* login */

#login{
    background-image: url('https://chany4.github.io/ecomWEB/images/other/pexels-ron-lach-9595294.jpg');
  background-size: 100% 100%; /* make the background image cover the entire container */
  background-repeat: no-repeat;
  width: 100%; /* set the width of the container to 100% */
  height: 100vh; /* set the height of the container to 100% of the viewport height */
  object-fit: cover; /* make the background image cover the entire container */
}

#p-login{
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    color: black;
}

/* #input{
    width: 100%;
    background-color: pink;
    border: 2px solid rgba(255, 192, 203, 0.673);
    height: 100%;
    border-radius: 25px;
    text-indent: 25px;
} */


/* input */
#carouselExampleIndicators{
    margin-top: 20%;
}