/* body */
body{
    /* background-image: linear-gradient(to bottom right, pink, white, pink); */

}


/* nav bar */
[class="navbar navbar-expand-lg"]{
    background-color: #ff5e7920;
    height: 6%;
}

/* Home wallpaper*/

#divHomeWallpaper{
    width: fit-content;
    height: fit-content;
}
