/* body */
body{
    background-image: linear-gradient(to bottom right, pink, white, pink);
    background-repeat: no-repeat
}

/* nav bar */
[class="navbar navbar-expand-lg"]{
    background-color: #FFC0CB;
}
